x-podman:
  in_pod: false
  privileged: false
  network_mode: bridge
  pid: host
  ipc: host
  uts: host

services:
  nginx:
    image: nginx:1.21-alpine
    ports:
      - "80:80"
    volumes:
      - ./config/nginx/nginx.conf:/etc/nginx/nginx.conf
      - ./hosts:/var/www:ro
      - ./hosts:/etc/nginx/hosts:ro
      - ./logs/nginx:/var/log/nginx
    depends_on:
      - php82
      - php80
      - php74
      - nodejs
    networks:
      - app-network

  nodejs:
    image: node:22.12-alpine
    working_dir: /var/www
    volumes:
      - ./hosts:/var/www
      - /var/www/node_modules  # Изолируем node_modules
    ports:
      - "5173:5173"  # Vite dev server порт
      - "3000:3000"  # Дополнительный порт для приложений
    environment:
      - NODE_ENV=development
    command: ["tail", "-f", "/dev/null"]
    networks:
      app-network:
        aliases:
          - nodejs
          - vites

  php82:
    build:
      context: ./config/php8.2
      dockerfile: Dockerfile
      args:
        USER_ID: '${UID:-1000}'
        GROUP_ID: '${UID:-1000}'
    volumes:
      - ./hosts:/var/www
      - ./logs/php8.2:/var/log/php
    environment:
      - PHP_VERSION=8.2
    ports:
      - "9081:9000"
    networks:
      app-network:
        aliases:
          - php82
          - php-fpm82

  php80:
    build:
      context: ./config/php8.0
      dockerfile: Dockerfile
      args:
        USER_ID: '${UID:-1000}'
        GROUP_ID: '${UID:-1000}'
    volumes:
      - ./hosts:/var/www
      - ./logs/php8.0:/var/log/php
    environment:
      - PHP_VERSION=8.0
    ports:
      - "9080:9000"
    networks:
      app-network:
        aliases:
          - php80
          - php-fpm80

  php74:
    build:
      context: ./config/php7.4
      dockerfile: Dockerfile
      args:
        USER_ID: '${UID:-1000}'
        GROUP_ID: '${UID:-1000}'
    volumes:
      - ./hosts:/var/www
      - ./logs/php7.4:/var/log/php
    environment:
      - PHP_VERSION=7.4
    ports:
      - "9074:9000"
    networks:
      app-network:
        aliases:
          - php74
          - php-fpm74

  mysql:
    image: mysql:8.0
    ports:
      - "3306:3306"
    volumes:
      - ./hosts:/var/www
      - ./data/mysql:/var/lib/mysql:z
      - ./config/mysql/my.cnf:/etc/mysql/conf.d/my.cnf:ro
    environment:
      MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}
    networks:
      app-network:
         aliases:
          - mysql
          - db

  manticore:
    image: manticoresearch/manticore:7.4.6
    volumes:
      - ./data/manticore:/var/lib/manticore/
    ports:
      - "9306:9306"
      - "9308:9308"
    ulimits:
      nproc: 65535
      nofile:
        soft: 65535
        hard: 65535
      memlock:
        soft: -1
        hard: -1
    depends_on:
      - mysql
    networks:
      - app-network

  phpmyadmin:
    image: phpmyadmin/phpmyadmin
    ports:
      - "8080:80"
    environment:
      PMA_HOST: mysql
      PMA_USER: root
      PMA_PASSWORD: ${MYSQL_ROOT_PASSWORD}
      UPLOAD_LIMIT: 512M
      MAX_EXECUTION_TIME: 600
    depends_on:
      - mysql
    networks:
      - app-network



networks:
  app-network:
    driver: bridge
    labels:
          io.podman.auxbridge: "true"
